*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.imagen-empresa img {
    display: flex;
    width: 100%;
    height: 500px;
}


.imagen-empresa h1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.gallery {
    margin-top: 60px;
 
}